:root {
--accent-color: #fffbc0;
--playerOne-color: #a4d43d;
--playerTwo-color: #fdcf65;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url(/img/nature-gefa89d710_1920.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title, 
.buttons, 
.box {
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px var(--accent-color),
    0 0 82px var(--accent-color), 0 0 92px var(--accent-color), 0 0 102px var(--accent-color), 0 0 151px var(--accent-color);
}

.box {
    border: 3px solid var(--accent-color);
    width: 125px;
    height: 125px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 7rem;
    text-align: center;
    color: #fff;
    /* text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px var(--accent-color),
    0 0 82px var(--accent-color), 0 0 92px var(--accent-color), 0 0 102px var(--accent-color), 0 0 151px var(--accent-color); */
}

.gameWrapper {
    margin-top: 120px;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
}

#formPopUp {
    position: fixed;
    display: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .7);
    width: 600px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.formBtns {
    width: 100%;
}

.formBtns > button {
    width: 200px;
    height: 75px;
    font-size: 2rem;
    border: 2px solid var(--accent-color);
    background-color: #836e5d;
    border-radius: 10px;
    margin-left: 25%;
    color: var(--accent-color);
    cursor: pointer;
}

.formLabel {
    font-size: 2rem;
    color: var(--accent-color);
}

.pOne {
    color: var(--playerOne-color);
}

.pTwo {
    color: var(--playerTwo-color);
}

.playerForm,
.gameMode {
    margin: 20px;
}