:root {
--accent-color: #fffbc0;
--playerOne-color: #a4d43d;
--playerTwo-color: #fdcf65;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url(/img/nature-gefa89d710_1920.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border: 3px solid var(--accent-color);
    width: 125px;
    height: 125px;
    border-radius: 10px;
}

.gameWrapper {
    margin-top: 120px;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
}

.formPopup {
    position: fixed;
    display: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .7);
    width: 600px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
}

.formLabel {
    font-size: 2rem;
    color: var(--accent-color);
}

.pOne {
    color: var(--playerOne-color);
}

.pTwo {
    color: var(--playerTwo-color);
}

.playerForm,
.gameMode {
    margin: 20px;
}